/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

// Page Header Logo
.headerLogo
	vertical-align middle
	height 3rem
	margin-bottom .625rem

// Background color
html
	overflow-y scroll

body
	font-family $fontMain
	font-size 16px

html,
body,
.theme-container
	background-color $backgroundColor

.note
	color rgba(0,0,0,.4)
	font-size .9rem
	text-align right

// Navbar Changes
.navbar
	.site-name.can-hide
		/* Display navbar-name even for small screens */
		@media (max-width: $MQMobile)
			display inherit

// Guide container
.guide
	background-color $containerBackground
	border-radius $containerBorderRadius
	margin 1rem 0
	padding 0.1rem 1.5rem
	.title
		font-weight bold
	.videolink
		margin-top -1rem

// Custom block containers
.theme-default-content
	h1
		font-size 2.25rem
		font-weight 500
	h2
		font-size 1.5rem
		font-weight 500
		padding-top 0rem !important
		padding-bottom .25rem !important
		margin-top 2rem !important
		margin-bottom 1rem !important
	code
		padding .25rem .5rem
		margin 0
		border-radius .25rem
		font-size .8rem
		background-color $containerBackground
		color $accentColorSecondary

.custom-block
	padding-left 1.25rem
	padding-right 1rem
	border-radius .125rem
	overflow hidden
	position relative
	background-color $backgroundColorSecondary
	border 1px solid #e4e8ef
	border-radius 6px
	margin-bottom .5rem
	.c-title
		margin-top 1rem
		margin-bottom -0.75rem
		&:empty
			display none
	&.c-
		&tip
		&warning
		&danger
			padding-left 3.75rem
			&:before
				content ""
				display block
				position absolute
				top 0
				left 0
				margin-top 1rem
				margin-left 1rem
				width 1.75rem
				height 1.75rem
				background-size contain
		&tip
			background-color alpha($customTip, 2%)
			border 1px solid alpha($customTip, 20%)
			&:before
				background transparent url(/assets/icon_tip.svg) no-repeat 0 0
			a
				color $customTip
			h4
				color darken($customTip, 60%)
		&warning
			background-color alpha($customWarning, 2%)
			border 1px solid alpha($customWarning, 20%)
			&:before
				background transparent url(/assets/icon_warning.svg) no-repeat 0 0
			a
				color $customWarning
			h4
				color darken($customWarning, 40%)
		&danger
			background-color alpha($customDanger, 2%)
			border 1px solid alpha($customDanger, 20%)
			&:before
				background transparent url(/assets/icon_danger.svg) no-repeat 0 0
			a
				color $customDanger
			h4
				color darken($customDanger, 40%)
	&.aside
		background-color transparent
		border none
		color transparentify($textColor, 0.4)
		font-size 0.9rem
		text-align right
	&.aside-guide
		background-color transparent
		border none
		font-size 0.9rem
		text-align left
		padding-left unset
		p
			margin-top: 0
		a
			color $accentColorSecondary

// File tree
.file-tree
	font-family $fontCode
	font-size 0.85rem
	list-style none
	padding 0
	li
	ul
		position relative
	li
		margin 0
		padding-left 1rem
		&::before
		&::after
			content ""
			left 0
			position absolute
		&::before
			border-top 1px solid #CCCCCC
			height 0
			top 0.7em
			width 0.8em
		&:last-child::after
			height 0.7em
		&::after
			border-left 1px solid #CCCCCC
			height 100%
			top 0
			width 0
	ul
		list-style none
		margin-left 1em
		padding 0
	& > li:first-child::before
	& > li:first-child::after
		content none
	.ft-icon
		position relative
		display inline-block
		vertical-align top
		padding 0 0 0 1.5em
		&:before
			content ""
			position absolute
			top 0
			left .25em
			height 100%
			width 1em
			background no-repeat 50% 50%/contain
		&.ft-
			&folder
				&:before
					background-image url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 5v14h16V7h-8.414l-2-2H4zm8.414 0H21a1 1 0 011 1v14a1 1 0 01-1 1H3a1 1 0 01-1-1V4a1 1 0 011-1h7.414l2 2z' fill='rgba(71,101,130,1)'/%3E%3C/svg%3E")
			&image
				opacity 0.75
				&:before
					background-image url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4.828 21l-.02.02-.021-.02H2.992A.993.993 0 012 20.007V3.993A1 1 0 012.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 01-.992.993H4.828zM20 15V5H4v14L14 9l6 6zm0 2.828l-6-6L6.828 19H20v-1.172zM8 11a2 2 0 110-4 2 2 0 010 4z' fill='rgba(71,101,130,1)'/%3E%3C/svg%3E")
			&zip
				&:before
					background-image url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M20 22H4a1 1 0 01-1-1V3a1 1 0 011-1h16a1 1 0 011 1v18a1 1 0 01-1 1zm-1-2V4H5v16h14zm-5-8v5h-4v-3h2v-2h2zm-2-8h2v2h-2V4zm-2 2h2v2h-2V6zm2 2h2v2h-2V8zm-2 2h2v2h-2v-2z' fill='rgba(71,101,130,1)'/%3E%3C/svg%3E")

// Element UI
.el-collapse,
.el-tabs,
.el-alert,
.el-button,
.el-tag
	margin-top 0.8rem !important

// Fix Element-UI styling
.el-divider__text,
.el-step__icon
	background-color $backgroundColor !important

.el-collapse-item__header
	background-color transparent !important
	border-bottom 1px solid $borderColor
	padding-left 10px
	&.is-active
		color $elementAccentColor
	&:not(.is-active):hover
		color $elementAccentColor

.el-collapse-item__wrap
	background-color transparent !important

.el-collapse-item__content
	padding-left 10px

// Fix Links in Alerts
.el-alert
	.el-link
		flex-direction inherit
		align-items inherit
		justify-content inherit
		vertical-align inherit
		position inherit
		text-decoration inherit
		font-size inherit
		outline inherit
		padding inherit
		&:hover
			color inherit !important

.el-alert
	&--warning
		.el-link--inner
			color #845a1b
			font-size inherit

// Tweak Element-UI Colors
.el-alert--warning
	&.is-light
		.el-alert
			&__icon
			&__title
			&__description
				color #ce8b27