<template>
	<div class="card">
		<v-container fluid ma-auto pa-auto fill-height>
			<v-layout row align="center"> 
				<v-flex xs14 sm10 md8 lg6 v-for="person in team" :key="person.name">
					<v-card
						class="mx-auto"
						max-width="334px"
						elevation="6"
						hover true
					>
						<v-img
						:src= person.image
						width="334px"
						height="334px"
						></v-img>

						<v-card-title>
							{{ person.name }}
						</v-card-title>

						<v-card-subtitle>
							{{ person.role }}
						</v-card-subtitle>

						<v-card-text class="motto">
								{{ person.motto }}
						</v-card-text>

						<v-card-actions>
						<v-btn
							icon
							:href= person.instagram
							target="_blank"
						>
							<brand-instagram-icon />
						</v-btn>

						<v-btn
							icon
							:href= person.telegram
							target="_blank"
						>
							<brand-telegram-icon />
						</v-btn>

						<v-btn
							icon
							:href= person.email
							target="_blank"
						>
							<at-icon />
						</v-btn>

						<v-btn
							icon
							:href= person.gitlab
							target="_blank"
						>
							<brand-gitlab-icon />
						</v-btn>

						<v-btn
							icon
							:href= person.github
							target="_blank"
						>
							<brand-github-icon />
						</v-btn>

						<v-spacer></v-spacer>

						<v-btn
							icon
							@click="show = !show"
						>
							<chevron-down-icon />
						</v-btn>
						</v-card-actions>

						<v-expand-transition>
						<div v-show="show">
							<v-divider></v-divider>

							<v-card-text class="normal">
								{{ person.about }}
							</v-card-text>
						</div>
						</v-expand-transition>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container> 
	</div>
	
</template>

<script>
  	export default {
		data: () => ({
			show: false,
			team: [
				{ name: 'Rahul Kumar Patel',
					role: '@whyorean | Lead Dev',
					image: '/assets/whyorean.jpg',
					instagram: 'https://instagram.com/whyorean',
					telegram: 'https://t.me/whyorean', 
					email: 'mailto:auroraoss.dev@gmail.com', 
					gitlab: 'https://gitlab.com/whyorean', 
					github: 'https://github.com/whyorean', 
					motto: 'To be my true self',
					about: "I'm the project founder of AuroraOSS"
				},
				{ name: 'Disuq3Mirroir',
					role: '@Disqu3mirroir | Server Backend Dev', 
					image: '/assets/Disqu3mirroir.jpg',
					instagram: '',
					telegram: 'https://t.me/Disqu3mirroir ', 
					email: '', 
					gitlab: 'https://gitlab.com/whyorean', 
					github: 'https://github.com/whyorean',
					motto: 'French croissaint for life',
					about: "I'm the guy who does the server stuff behind Aurora Store"
				},
				{ name: 'Austin Hornhead',
					image: '/assets/austin.jpg',
					role: '@marchingon12 | Hobby Dev & Designer', 
					telegram: 'https://t.me/austinhornhead_12', 
					email: 'mailto:augustthegreat.cool@outlook.com', 
					gitlab: 'https://gitlab.com/marchingon12', 
					github: 'https://github.com/marchingon12',
					motto: 'Anime & Manga is life',
					about: 'Created the website'
				},
				{ name: 'Sunny Raj',
					role: '@CheDuckevara | Privacy Enthusiast',
					image: '/assets/sunny.jpg',
					instagram: '',
					telegram: 'https://t.me/sunnyraj', 
					email: '', 
					gitlab: '', 
					github: '', 
					motto: 'Quid est veritas?',
					about: 'OpenSource enthusiast and net political shiptoaster :D'
				},
				{ name: 'ℂ𝕐𝕃Δℕℂ€ ✪',
					image: '/assets/cylance.jpg',
					role: '@CYLANC | Contributor',
					instagram: 'https://instagram.com/whyorean',
					telegram: 'https://t.me/whyorean', 
					email: 'https://instagram.com/whyorean', 
					gitlab: 'https://gitlab.com/whyorean', 
					github: 'https://github.com/whyorean',
					motto: 'Quid est veritas?',
					about: 'To be my true self'
				},
				{ name: 'Æïý€€ =ęę',
					image: '/assets/shanetheawesome.jpg',
					role: '@shanetheawesome | Contributor', 
					instagram: 'https://instagram.com/whyorean',
					telegram: 'https://t.me/whyorean', 
					email: 'https://instagram.com/whyorean', 
					gitlab: 'https://gitlab.com/whyorean', 
					github: 'https://github.com/whyorean', 
					motto: 'Anime & Manga is life',
					about: 'Created the website'
				},
				{ name: 'Radek Błędowski',
					image: '/assets/radek.jpg',
					role: '@RKBDI | Designer', 
					instagram: 'https://instagram.com/whyorean',
					telegram: 'https://t.me/whyorean', 
					email: 'https://instagram.com/whyorean', 
					gitlab: 'https://gitlab.com/whyorean', 
					github: 'https://github.com/whyorean', 
					motto: "Make stuff for yourself and don't care about others' opinion.",
					about: 'Designer'
				},
				{ name: 'Matt Murdock',
					image: '/assets/matt.jpg',
					role: '@whyorean | Telegram Moderator', 
					instagram: 'https://instagram.com/whyorean',
					telegram: 'https://t.me/whyorean', 
					email: 'https://instagram.com/whyorean', 
					gitlab: 'https://gitlab.com/whyorean', 
					github: 'https://github.com/whyorean',
					motto: 'Anime & Manga is life',
					about: 'If possible, please support your favorite FOSS apps & Linux Distro(s)'
				},
				{ name: 'Marcel Alexandru Nitan',
					image: '/assets/snoopalex.jpg',
					role: '@snoopalex | Telegram Bot Dev', 
					instagram: 'https://instagram.com/whyorean',
					telegram: 'https://t.me/whyorean', 
					email: 'https://instagram.com/whyorean', 
					gitlab: 'https://gitlab.com/whyorean', 
					github: 'https://github.com/whyorean', 
					motto: 'Anime & Manga is life',
					about: 'Created the website'
				}
			]

		}),
	}
</script>

<style lang="stylus" >
	.motto
		font-style italic
</style>

